h1{
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
    color: white;
}

.table-area{
    margin: 4vh 4vw 2vh 4vw;
    box-shadow: 0px 0px 30px 10px rgb(31, 31, 31);
}
th{
    padding: 10px 10px;
}

td{
    padding: 10px 10px;
}

.table-page{
    background-color: darkmagenta;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
}

input{
    position: absolute;
    width: 15vw;
    top: 2vh;
    left: 4vw;
    height: 4vh;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    font-size: 14px;
}

.search-button{
    position: absolute;
    width: 100px;
    top: 2vh;
    left: 19vw;
    height: 4vh;
    border-radius: 0px 10px 10px 0px;
    background-color: indigo;
    color: white;
    font-size: 14px;
    border: none;
}
.backButton{
    position: absolute;
    width: 100px;
    top: 2vh;
    right: 4vw;
    height: 4vh;
    border-radius: 10px;
    background-color: indigo;
    color: white;
    font-size: 14px;
    border: none;
}

.spinner{
    position: absolute;
    width: 15vw;
    height: 15vw;
    color: purple;
    top: 50%;
    left: 50%;
    margin-left: -7.5vw;
    margin-top: -7.5vw;
}